.container{
    width:1350px;
    height:1050px;
}
.head{
    width:1350px;
    height:50px;
    background-color:blue;
}
.logo{
    width:350px;
    height:150px;
    background-color:darkgoldenrod;
    float:left;
}
.search{
    width:500px;
    height:150px;
    background-color:darkgoldenrod;
    float:left;
}
.navbar {
    width: 500px;
    height: 150px;
    background-color: darkgoldenrod;
    float: right;
}
.navigation{
    width:1350px;
    height:150px;
    background-color:Highlight;
    float:left;
}
.content{
    width:1350px;
    height:600px;
    background-color:olive;
    float:left;
}
.footer{
    width:1350px;
    height:100px;
    background-color:lightcoral;
    float:left;
}




















